@import 'tdesign-vue-next/es/style/index.css';
@import 'tailwindcss';
@import './tdesign.css';

.q-clickable {
  cursor: pointer;
  transition-duration: 200ms;
}
.q-clickable:hover {
  color: var(--td-brand-color);
}
.q-clickable-danger {
  color: var(--td-error-color);
  cursor: pointer;
  transition-duration: 200ms;
}
.q-list-item {
  height: theme('height.8');
  border-radius: theme('borderRadius.sm');
  display: flex;
  align-items: center;
  gap: theme('space.2');
}
.q-list-item.q-clickable:hover,
.q-list-item.q-clickable-danger:hover {
  padding-left: theme('space.2');
}
.q-list-item.q-clickable:hover {
  background-color: var(--color-neutral-100);
}
.q-list-item.q-clickable-danger:hover {
  background-color: var(--color-red-50);
}
