@import 'tdesign-vue-next/es/style/index.css';
@import 'tailwindcss';
@import './tdesign.css';

.clickable:hover {
  color: var(--td-brand-color);
  cursor: pointer;
  transition: color 0.2s linear;
}
