/* t-dialog */
.t-dialog:not(.t-dialog__fullscreen) > .t-dialog__body:last-child {
  padding-bottom: 0;
}

/* t-drawer */
.t-drawer .t-drawer__body:first-child {
  padding: 0;
}

/* t-menu */
.t-menu .t-menu__item > .t-menu__content {
  flex: 1;
}
.t-menu__popup .t-menu__item {
  gap: theme('space.1');
}

/* t-table */
.t-table table.t-table--layout-fixed {
  border-collapse: separate;
}

/* t-tree */
.t-tree .t-tree__empty {
  min-height: theme('space.16');
  display: flex;
  justify-content: center;
  align-items: center;
}
